{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
</head>
<body>
    <form method="POST" style="margin: 10px; display: flex; flex-flow:row; justify-content: space-between;">
        {% csrf_token %}
        <button name="add" value="add">Add Blog</button>
        <button name="logout" value="logout">Logout</a></button>
    </form>
    {% if object_list != None%}
        {% for obj in object_list %}
            <form action="{{obj.pk}}" method="GET">    
                <h1>Title: {{obj.title}}</h1>
                <h3>~{{obj.username}}</h3>
                <p>Date time:{{obj.date_time}}</p>
                <button>OPEN</button>
            </form>
        {% endfor %}
       
    {% endif %}
    
    
</body>
</html>